:root {
  font-size: 62.5%;
  }

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('☺'), url('../fonts/Geometria-Medium.woff') format('woff'), url('../fonts/Geometria-Medium.ttf') format('truetype'), url('../fonts/Geometria-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('☺'), url('../fonts/Geometria.woff') format('woff'), url('../fonts/Geometria.ttf') format('truetype'), url('../fonts/Geometria.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
  background-color: #ffffff;
  font-family: 'Geometria';
  color: #000000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  padding-left: 0;
}

.header_wrapper{
  max-width: 94.4vmax;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 27px;

}

.header_nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

}

.header_list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;

}

.left{
  padding-right: 49px;
}

.right{
  padding-left: 69px;
}


.header_item{

}

.header_item:hover{
  opacity: .75;
}


.nav > li > a{
  text-decoration: none;
  color: #000000;
}

.wrapper{
  max-width: 94.4vmax;
  margin: 0 auto;
  padding: 0px 20px;
}

.logo{
  padding-right: 74px;
}

.mobile-only-header {
  display: none;
}



.header_mobile{
  height: 100px;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo_mobile{
  margin-left: 20px;
}
.menu__icon {
  height: 32px;
  width: 42px;
  margin: 3%;
  position: absolute;
  top: 10px;
  right: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}

.menu__icon span {
  display: block;
  background: #000;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__icon:before,
.menu__icon:after {
  content: "";
  display: block;
  background: #000;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}

.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}

.menu_shown .menu__icon span {
  background: transparent;
}

.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.mobile.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 112px;
  background: #fff;
  z-index: 10;
  transition: all .4s ease-in-out;
  transform: translateX(-100%);
}

.menu_shown .mobile.menu {
  transform: translateX(0);
}

.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
}




.new_collection{
  width: 100%;
}

.medium_wrapper{
  width: 78.47%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 20px;
}

.popular_wrapper{

  max-width: 100%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 15vmin;

}

.text_30{
  font-size: 3rem;
}

.text_15{
  font-size: 1.5rem;
}

.text_12{
  font-size: 1.2rem;
}

.text_20{
  font-size: 2rem;
}

.text_24{
  font-size: 2.4rem;
}

.text_16{
  font-size: 1.6rem;
}

.opacity30{
  opacity: 0.3;
}

.medium {
  font-weight: 500;
}

.popular{
  margin-top: 90px;
  margin-bottom: 55px;
}

.popular_big_text{
  margin-bottom: 27px;
}

.popular_item{
  width: 23.8%;
  /*
  width: 18.68vmax;
  */

  padding-right: 1.25vmax;
}

.last_item{
  padding-right: 0;
}

.popular_img{
  width: 100%;
}

p{
  margin: 0;
}

.popular_text{
  padding-top: 5px;
}

.camel_bg{
  background-color: #E7DFD5;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.new_trends_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 78.47vmax;

  text-align: center;
  padding-top: 17vmin;
  padding-bottom: 17vmin;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.new_trends{
  width: 49%;

}

.left_new{

}

.categ_main_page{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 14vmin;
  padding-bottom: 11.5vmin;

}

.categ_item{
  padding-right: 20px;
  width: 32%;
}

.last_item_categ{
  padding-right: 0px;
}

.categ_img{
  width: 100%;
}

.bottom_wrapper{
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5vmin;

}

.bottom_text_top{
  margin-bottom: 13px;
}

.catalog_wrapper{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;


}

.sort_left{
  width: 15.44%;
  /* background-color: #000000; */
  margin-top: 20px;
}



.sort_left ul li {
  list-style: none;
  margin-bottom: 16px;
}

.sort_name{
  font-weight: 500;
}

.prod_right{
  width: 74.63%;
}

.size_list {
  display: flex;
}

.size_list, .categories_list {
  padding-left: 0;
  margin: 0;

}

.categories_list{
  margin-bottom: 36px;
}

.size_list{
  margin-top: 16px;
  max-width: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prod_right{
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.prod_item{
  width: 32%;
  margin-right: 1.97%;
  margin-bottom: 3.9%;
}

.last_item{
  margin-right: 0;
}

.prod_img{
  width: 100%;
}

.prod_text{
  margin-top: 7px;
}

.mobile-only-sort {
  display: none;
}

@media (max-width: 912px) {
  .desktop-only-header {
    display: none;
  }

  .mobile-only-header {
    display: initial;
  }

  .desktop-only-sort {
    display: none;
  }

  .mobile-only-sort {
    display: initial;
  }
}

.mobile-only-sort{
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

}

.menu_sort{
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu_sort ul ul li{
  padding: 10px;

}


.menu_sort ul > li:hover{
  background-color: #fff;
}
.menu_sort ul ul > li:hover{
  background-color: #fff;
}
.menu_sort ul li, .menu ul{
  display: inline-block;
}
.menu_sort ul{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ff;
  display: table;
  width: 100%;
}
.menu_sort ul ul{
  display: none;
  position: absolute;
  background-color: #fff;
  margin-top: 10px;
  margin-left: -10px;
}
.menu_sort ul a{
  color: #000;
  text-decoration: none;
}
.menu_sort ul ul a{
  color: #000;
  text-decoration: none;
}
.menu_sort li:hover ul{
  display: block;
}

.menu_sort li:hover li{
  display: block;
}



@media(max-width: 1023px) {
  .categ_main_page {
    flex-direction: column;
    align-items: center;
  }
  .categ_item {
    padding-right: 0;
    width: 50%;
  }

@media (max-width: 900px) {
  .medium_wrapper{
    padding: 0px 20px;
  }

  .popular_wrapper{
    padding-bottom: 20px;

  }

  .popular{
    margin-top: 40px;
  }

  .popular_big_text{
    margin-bottom: 27px;
  }

  .popular_item{
    width: 45%;
    margin-bottom: 10px;
    padding-right: 1.25vmax;
  }
  .bottom_item{
    margin-bottom: 20px;
  }

  .prod_right{
    width: 100%
  }
  .prod_item{
    width: 49%;
    margin-right: 1.97%;
    margin-bottom: 3.9%;
  }
  .second_item{
    margin-right: 0;
  }
}

}
