<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>KNICS</title>
    <link rel="stylesheet" href="{% static 'css/style_5.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
<body>
    <header class="header desktop-only-header">
        <div class="header_wrapper">
          <nav class="header_nav ">
            <ul class="header_list">
                <li class="header_item left"> <a href="{%url 'shop:catalog'%}">Каталог</a></li>
              <li class="header_item left"> <a href='{% url "shop:develop" %}'>О бренде</a></li>
              <li class="header_item left"> <a href='{% url "shop:develop" %}'>Lookbook</a></li>
            </ul>
            <div class = "logo"> <a href="{%url 'shop:index' %}"><img src="{% static 'img/KNICS.png' %}" alt="KNICS"></a></div>
            <ul class="header_list">
              <li class="header_item right"><img height="24" src="{% static 'img/icons/search.svg' %}" alt=""></li>
                <li class="header_item right">  <a href="{% url 'orders:dashboard' %}"><img height="24" src="{% static 'img/icons/person.svg' %}" alt=""></a></li>
                <li class="header_item right"> <a href='{% url "cart:cart_detail" %}'><img height="24" src="{% static 'img/icons/bucket.svg' %}" alt=""></a></li>
            </ul>
          </nav>
        </div>
    </header>
    <header class="mobile-only-header">
      <div class="header_mobile">
        <div class = "logo_mobile"> <a href=''><img src="{% static 'img/KNICS.png' %}" alt="KNICS"></a></div>
      <a class="menu__icon mobile"><span></span></a>
       <ul class="menu mobile">
         <li><a href="{%url 'shop:catalog'%}" class="{% static 'menu__item' %}">Каталог</a></li>
         <li><a href='{% url "shop:develop" %}' class="{% static 'menu__item' %}">О бренде</a></li>
         <li><a href='{% url "shop:develop" %}' class="{% static 'menu__item' %}">Lookbook</a></li>
         <li><a href='{% url "shop:develop" %}' class="{% static 'menu__item' %}">Поиск</a></li>
         <li><a href='{% url "cart:cart_detail" %}' class="{% static 'menu__item' %}">Корзина</a></li>
       </ul>
       <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
       <script type="text/javascript">
       jQuery(function($) {
          $(document).ready(function() {
          $('.menu__icon').click(function(){
          $('body').toggleClass('menu_shown');
          });
          });
        });
       </script>
       </div>
    </header>
    {% block main %}{% endblock %}
  <div class="medium_wrapper" style="margin-top: 10%">
          <div class="bottom_wrapper">
          <div class="bottom_item">
            <p><a href='{% url "shop:develop" %}' class="text_24 bottom_text_top">Покупателям</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Оплата и доставка</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Возврат</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Вопросы и ответы</a></p>
          </div>
          <div class="bottom_item">
            <p><a href='{% url "shop:develop" %}' class="text_24 bottom_text_top">О бренде</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Магазины</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Контакты</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">История</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Пресса о нас</a></p>
          </div>
          <div class="bottom_item">
            <p><a href='{% url "shop:develop" %}' class="text_24 bottom_text_top">Наши соцсети</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Инстаграм</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Вконтакте</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Ютуб</a></p>
            <p><a href='{% url "shop:develop" %}' class="text_16 bottom_text">Фейсбук</a></p>
          </div>


          </div>
        </div>


</body>
</html>

